<footer class="site-footer">
  <p style="text-align: center">
    <a href="mailto:p.quintanilla@ucl.ac.uk" class="fa fa-envelope">
      p.quintanilla@ucl.ac.uk
    </a>&emsp;&ensp;&ensp;

    <a href="https://github.com/p-quintanilla" class="fa fa-github" target="_blank" aria-hidden="true" title="GitHub Profile">
      @agrimadeedwania
    </a>&emsp;&ensp;&ensp;

    <a href="https://www.linkedin.com/in/paulinaquintanilla/" class="fa fa-linkedin" target="_blank" aria-hidden="true" title="LinkedIn">
      Agrima Deedwania
    </a>
    <br>
    Updated last on: <script>document.write(new Date(document.lastModified));</script>
  </p>
</footer>
