<header class="site-header">
  <nav class="nav container">
    <!-- <a class="brand" href="{{ "/" | relative_url }}"> </a> -->
<a href="/" class="brand">
    <!-- <img src="/images/ucl-logo.png" alt="Logo" class="nav-logo"> -->
    <!-- name next to the logo -->
    <span class="nav-title">Paulina Quintanilla - UCL Chemical Engineering </span>
  </a>
    {% assign on_home = page.layout == "home" %}
    <a href="{% if on_home %}#research-topics{% else %}/research-topics/{% endif %}">Research</a>
    <a href="{% if on_home %}#people{% else %}/people/{% endif %}">People</a>
    <a href="{% if on_home %}#publications{% else %}/publications/{% endif %}">Publications</a>
        <a href="{% if on_home %}#awards{% else %}/awards/{% endif %}">Awards</a>
    <a href="{% if on_home %}#software{% else %}/software/{% endif %}">Software</a>
    <!-- <a href="{% if on_home %}#join{% else %}/join/{% endif %}">Join</a> -->
    <!-- <a href="{% if on_home %}#contact{% else %}/contact/{% endif %}">Contact</a> -->
  </nav>
</header>
