<header class="site-header">
  <nav class="nav container">
    <a class="brand" href="{{ "/" | relative_url }}"> </a>

    {% assign on_home = page.layout == "home" %}
    <a href="{% if on_home %}#research{% else %}/research/{% endif %}">Research</a>
    <a href="{% if on_home %}#people{% else %}/people/{% endif %}">People</a>
    <a href="{% if on_home %}#publications{% else %}/publications/{% endif %}">Publications</a>
    <a href="{% if on_home %}#software{% else %}/software/{% endif %}">Software</a>
    <a href="{% if on_home %}#awards{% else %}/awards/{% endif %}">Awards</a>
    <!-- <a href="{% if on_home %}#join{% else %}/join/{% endif %}">Join</a> -->
    <!-- <a href="{% if on_home %}#contact{% else %}/contact/{% endif %}">Contact</a> -->
  </nav>
</header>
